.navBar {
    display: flex;
    margin: 17px auto 81px;
    min-width: 1251px;
}

.navbar__bar {
    padding-top: 7.5px;
    width: 194px;
    max-height: 358px;
    background-color: rgba(232, 236, 240, 1);
    color: rgba(29, 54, 75, 1);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
    padding: 7.5px 19.43px 16.5px;
}

a {
    text-decoration: none;
    color: rgba(29, 54, 75, 1);
    cursor: pointer;
    align-items: center;
    display: flex;
}

.navBar__signin {
    width: 343px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(0, 133, 255, 1);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    font-family: Gravity, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
    margin: 210px auto auto 282px;
    padding: 0;
    cursor: pointer;
}

.navBar__signin:hover {
    opacity: 70%;
}

@media (max-width:1283px) {
    .navBar {
        margin-top: 0;
        margin-bottom: 0;
        max-height: 156px;
    }

    .navbar__bar {
        display: none;
    }

    .navBar__signin {
        height: 36px;
        width: 260px;
        margin: 60px auto 60px auto;
    }
}
@media (max-width:1283px) {
    .navBar {
        min-width: 375px;
    }
}