p{
    margin: 0;
    padding: 0;
}
.footer {
    background-color: rgba(232, 236, 240, 0.5);
    height: 720px;
    color: rgba(29, 54, 75, 1);
    width: max-content;
}
.footer__page {
    width: 1251px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px 0 20px;
}

.footer__catalog {
    padding: 40px 0 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    font-family: Gravity, 'Times New Roman', Times, serif;
}

.footer__li{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
    padding: 6px 0 6px;

}

.footer__ul {
    width: 297px;
    margin-right: 16px;
}

.footer__subtitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
    color: rgba(97, 115, 129, 1);
}

.footer__phone {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    font-family: Gravity, 'Times New Roman', Times, serif;
    margin: 0 0 0 0;
}

.footer__subtitle{
    padding-top: 40px;
    margin: 0 0 16px 0;
}


.footer__pay {
    display: flex;
}

.footer__vk {
    margin-right: 8px;
    margin-top: 16px;
}

.footer__cardPay:not(:first-child) {
    margin:0 0 0 16px;
}

.footer__footer{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
    padding: 40px 0 40px 0;
}

.footer__footer:first-child{
    color: rgba(97, 115, 129, 1);
}
.footer__footer:not(:first-child){
    padding-left: 24px;
}

.footer__logo {
    width: 115.49px;
    height: 16px;
}

.footer__logoLink{
    display: flex;
    max-width: 117px;
    flex-direction: column;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
}

.footer__work {
    display: flex;
    padding: 8.67px 0 0 0;

}

.footer__aero {
    color:rgba(0, 133, 255, 1);
    width:27px;
    padding-left: 15px;
}

.footer_box {
    width: 297px;
}

@media (max-width:1283px) {
    .footer {
        height: 660px;
    }
    .footer__page {
        flex-direction: column;
    }
    /* .footer__ul:not(#support){
        margin-top: 112px;
        width: 335px;
        height: 56px;
    } */
    .footer__li{
        display: none;
    }
    div#support{
        color: red;
        
        /* margin-bottom: 20px; */
        width: 335px;
        height: 72px;
  
    }

}