.footer {
    height: 720px;
    background-color: rgba(232, 236, 240, 0.5);
}

.footer__all {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 297px));
    grid-template-rows: auto;
    grid-column-gap: 16px;
    padding: 39px;
    row-gap: 40px;
    justify-content: center;
}

.footer__all.ne {
    opacity: 10%;
}

.footer__page {}

p {
    margin: 0;
}

.footer__page.agreement {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

.footer__page.work {
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
}

.footer__page.support {
    grid-column-start: 4;
    grid-column-end: 4;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer__page.pharmacy {
    grid-column-start: 4;
    grid-column-end: 4;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    align-content: center;
}

.footer__page.two {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer__page.three {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    align-content: center;
    margin-top: 83px;
}

.footer__page.one {
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer__catalog {
    padding: 0 0 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    font-family: Gravity, 'Times New Roman', Times, serif;
}

.footer__li {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
    padding: 6px 0 6px;
}

.footer__ul {
    position: relative;
}

.footer__subtitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
    color: rgba(97, 115, 129, 1);
}

.footer__phone {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    font-family: Gravity, 'Times New Roman', Times, serif;
    margin: 0 0 0 0;
}

.footer__subtitle {
    margin: 0 0 16px 0;
}


.footer__pay {
    display: flex;
}

.footer__vk {
    margin-right: 8px;
    margin-top: 16px;
}

.footer__cardPay:not(:first-child) {
    margin: 0 0 0 16px;
}

.footer__footer {
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
}

.footer__footer:first-child {
    color: rgba(97, 115, 129, 1);
}

.footer__footer:not(:first-child) {
    padding-left: 24px;
}

.footer__logo {
    width: 115.49px;
    height: 16px;
}

.footer__logoLink {
    display: flex;
    max-width: 117px;
    flex-direction: column;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: Gravity, 'Times New Roman', Times, serif;
}

.footer__work {
    display: flex;
    padding: 8.67px 0 0 0;

}

.footer__aero {
    color: rgba(0, 133, 255, 1);
    width: 27px;
    padding-left: 15px;
}

.footer_box {
    width: 297px;
}

.footer__arrow {
    display: none;
}

.footer__li.active {
    display: flex;
}

@media all and (max-width:894px) {
    .footer__li {
        display: none;
        z-index: -1;
    }

    .footer__catalog {
        display: flex;
        justify-content: space-between;
        padding: 0;
        font-size: 14px;
        line-height: 16px;
        align-content: space-between;
    }

    .footer__arrow {
        display: flex;
        background-image: url(../../images/arrow.png);
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .footer {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: max-content;
    }

    .footer__all {
        grid-template-columns: repeat(1, 335px);
        grid-template-rows: repeat(1, 56px);
        row-gap: 0;
        padding: 20px;
        padding-bottom: 0;
    }

    .footer__page {
        border-bottom: 1.5px solid rgba(197, 208, 217, 1);
        padding: 20px 0 20px 0;

    }

    .footer__page.agreement {
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        border-bottom: none;
        flex-direction: column;
        padding: 0;
    }

    .footer__footer {
        font-size: 12px;
        line-height: 16px;
    }

    .footer__footer:nth-child(1n + 1) {
        padding: 0 0 8px 0;
    }

    .footer__li.p {
        display: block;
        font-size: 12px;
        line-height: 16px;
        padding-top: 4px;
    }

    .footer__phone {
        font-size: 24px;
        line-height: 24px;
    }

    .footer__page {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .footer__page.support {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 0;
        height: 92px;
        border-bottom: none;
    }

    .footer__page.pharmacy {
        grid-column-start: 1;
        grid-column-end: 1;
        display: grid;
        grid-row-start: 6;
        grid-row-end: 6;
        align-content: center;
        border-bottom: none;
    }

    .footer__subtitle {
        border-bottom: none;
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 12px 0;
    }

    .footer__vk {
        margin: 0 4px 20px 0;
    }

    .footer__page.one {
        grid-column-start: 1;
        grid-column-end: 1;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 2;
        border-top: 1px solid rgba(197, 208, 217, 1);
        margin-top: 36px;
    }

    .footer__page.two {
        grid-column-start: 1;
        grid-column-end: 1;
        display: grid;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .footer__page.three {
        grid-column-start: 1;
        grid-column-end: 1;
        display: grid;
        grid-row-start: 4;
        grid-row-end: 4;
        margin: 0;
    }

    .footer__page.work {
        border-bottom: none;
        padding: 12px 0 30px 0px;
    }

    .footer__work {
        padding: 8px 0 0 0;

    }
}